{% extends 'base.html.twig' %}

{% block title %}Peinture index{% endblock %}

{% block body %}
    <h1>Peinture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Largeur</th>
                <th>Hauteur</th>
                <th>En_vente</th>
                <th>Prix</th>
                <th>Date_realisation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for peinture in peintures %}
            <tr>
                <td>{{ peinture.id }}</td>
                <td>{{ peinture.Nom }}</td>
                <td>{{ peinture.largeur }}</td>
                <td>{{ peinture.Hauteur }}</td>
                <td>{{ peinture.enVente ? 'Yes' : 'No' }}</td>
                <td>{{ peinture.prix }}</td>
                <td>{{ peinture.dateRealisation ? peinture.dateRealisation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ peinture.description }}</td>
                <td>
                    <a href="{{ path('app_peinture_show', {'id': peinture.id}) }}">show</a>
                    <a href="{{ path('app_peinture_edit', {'id': peinture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_peinture_new') }}">Create new</a>
{% endblock %}
